
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');


body {
    background-color: #cee2ff;
    font-family: "Kantumruy Pro", sans-serif;
}

.containerHeader {
    background-color: #fff;
    height: 40px;
}

.containerHeader, .headerDireita{
    display: flex;
}

.headerDireita {
    margin-left: auto;
}

.headerDireita div {
    margin-left: 10px;
}


.sectionMeio {
    margin-top: 100px;
}

.container {
    margin: 10px auto;
    height: 300px;
    width: 650px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3); 
    padding: 1px;
}

/*HEADER*/

.avatar i, .favoritados i, .toggleList i{
    color: #5a8bd6;
    font-size: 35px;
    margin: 3px 8px 0 4px;
}
.toggleList i{
    margin-left: 10px;
}

.servicos i{
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.servicos div a{
    display: inline;
}

.hideContent {
    background-color: #fff;
    width: 150px;
    height: 100px;
    padding: 10px 0 5px 5px;
    display: none;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}


.hideContent .servicos{
    margin: 14px 0 0 10px;
}

.hideContent .servicos div{
    margin-bottom: 10px;
}

.servicos div a{
    text-decoration: none;
    color: #000;
}

.hideContent p#servicosTitulo{
    font-size: 14px;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.678);

}

.favoritados {
    /*
    display: none;
    */
}

.favoritados i{
    cursor: pointer;
    
}



/*conteudos*/
 .container .subtitulo{
    text-align: center;
    color: rgba(0, 0, 0, 0.678);
}

.titulo {
    font-size: 20px;
    font-weight: 500;
    margin: 8px 0 0 8px;
}

hr {
    width: 600px;
    border: solid 1px #cee2ff;
    margin-top: 2px;
    margin-left: 10px;
}

.inputEresultado {
    margin: 45px;
    height: 100px;
}

/*Estilizando o input*/
.inputCustomizado {
    position: relative;
    padding-top: 20px;
    margin-bottom: 5px;
}

.digiteCPF input {
    appearance: none;
    padding: 12px;
    border-radius: 4px;
    width: 250px;
    outline: none;
    font-size: 15px;
    border: 2px solid #c6c6c6;
    transition: border-color 0.3s ease;
}


.inputCustomizado .placeholder {
    position: absolute;
    left: 12px;
    top: calc(70% + 10px);
    transform: translateY(-100%);
    color: #393939;
    transition: 
        top 0.3s ease,
        font-size 0.3s ease,
        color 0.3s ease;
}

.inputCustomizado input:valid,
.inputCustomizado input:focus{
   border-color: #474747; 
   transition-delay: 0.1s;
}

.inputCustomizado input + .placeholder{
    padding: 0 5px;
}

.inputCustomizado input:valid + .placeholder,
.inputCustomizado input:focus + .placeholder{
    top: 14px;
    font-size: 12px;
    background-color: #fff;
}


.resposta{
    font-weight: 500;
    display: inline-flex;
    position: relative;
    top: 14px;
}

.resposta p{
    margin-left: 4px;
    font-size: 16px;
    color: #ec0000;
    /*color: #00cb07; COR SE VÁLIDO*/
    /*color: #ec0000; COR SE INVÁLIDO*/
}

.resposta i{
    color: #ec0000;
    /*color: #00cb07; COR SE VÁLIDO*/
    /*color: #ec0000; COR SE INVÁLIDO*/
    margin-left: 2px;
}

.btnValidar {
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
}
.btnValidar button{
    height: 45px;
    /*width: 170px;*/
    margin-left: 70px;
    border-radius: 3px;
    background-color: #5a8bd6;
    color: #fff;
    /*text-align: right;*/
    font-weight: 800;
    /*padding-right: 10px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btnValidar button span {
    padding-right: 10px;
}

.btnValidar button:hover{
    transform: scale(1.05);
    background-color: #2a5fad;
}
.btnValidar button:active{
    background-color: #0a2c5f;
}

.btnValidar i{
    color: #fff;
    font-size: 20px;
    margin: 0 8px 0 4px;
}

/*FOOTER*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer i{
    font-size: 30px;
    color: #3864a7;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

footer a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

footer p{
    display: inline;
    text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
}

footer div{
    margin: 0 0 5px 5px;
}





